
@{
    ViewBag.Title = "Dine";
}

<head>
    @* link it to a css sheet *@
</head>

<body>
    <div class="wrapperAlert" style=" display: flex; justify-content: center; text-align: center;">

        <div class="contentAlert">

            <div class="topHalf">

                <p>
                    <svg viewBox="0 0 512 512" width="100" title="check-circle">
                        <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" />
                    </svg>
                </p>
                <h1><b>Your reservation is confirmed!</b></h1>
                <span>You will receive the confirmation email shortly.</span>
                <br />
                <div style="width: 289px; height: 140px; border: 3px solid black; text-align: center; position: relative; left: 116px;">
                    <p style="text-align: left;">Date: xxx</p>
                    <p style="text-align: left;">Time: xxx</p>
                    <p style="text-align: left;">Number of people: xxx</p>
                    <p style="text-align: left;">Seat Number: Table 3</p>
                </div>


            </div>

            <div class="bottomHalf">

                <button id="alertMO" style="margin: 5px;" class="btn btn-primary">Return to homepage</button>
                <button id="alertMO" style="margin: 5px;" class="btn btn-primary">Pre-order</button>
                <br />


            </div>

        </div>

    </div>


    </body>
