
@{
    ViewBag.Title = "Delivery";
}

<h2>Delivery</h2>
@* id="id01" class="modal" *@
<div id="id02" class="model">

    <head>
        <link href="~/Content/delivery.css" rel="stylesheet" />
    </head>

    <form class="modal-content" action="/action_page.php">

        <div class="container">

            <h1  style="position: relative; left: 16px;">Address</h1>
            <hr style="margin-left: 20px; margin-right: 20px;">
            <label for="email" style="position: relative; left: 16px;"><b>Road</b></label>
            <input type="text" placeholder="Enter road" name="address" required style="position: relative; left: 16px;">

            <label for="psw" style="position: relative; left: 16px;"><b>Block</b></label>
            <input type="password" placeholder="Enter block" name="psw" required style="position: relative; left: 16px;">
            <br />
            <label for="psw-repeat" style="position: relative; left: 16px;"><b>Remarks</b></label>
            <input type="password" placeholder="Remarks" name="psw-repeat" required style="position: relative; left: 16px;">

            <label style="position: relative; left: 16px;">
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" style="position: relative; left: 16px;"> Cash
                <input type="checkbox"  name="remember" style="margin-bottom:15px" style="position: relative; right: 16px;"> VISA
            </label >


            <div class="clearfix" style="margin-left: 20px; margin-right: 20px;">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Go</button>
            </div>
        </div>
    </form>
</div>