@model IEnumerable<barApp.Models.Account>
@*@model IEnumerable<barApp.Models.Foodorder>*@

<head>
    <link href="~/Content/loggedIn.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper" style="text-align: center;">
        <div class="container">
            <h1 style="font-size: 86px;">WELCOME</h1>

            @{
                List<string> arr = new List<string>();
                int count = 0;
                foreach (var item in Model)
                {
                    arr.Add(item.Username);
                    count++;

                }
                <h2 style="font-size: 60px; text-transform: capitalize;">@arr[count-1]</h2>
            }

            <form class="form">
                <p>Great day to have a drink</p>

                <br>

                <button type="submit" id="login-button">Log out</button>


            </form>

            <hr />

            @* MAYBE REMOVE, second database *@
            <h2 style="display: block;">YOUR ORDERS</h2>
            <h2 style="display: block;">HISTORY</h2>
            <h2 style="display: block;" id="reward"><a href="Reward" style="color: black; text-decoration: none;">REWARDS</a></h2>

            <table>
                <tr>
                    <td></td>
                </tr>
            </table>


        </div>
</body>