

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order/delivery Tracking</title>

    <link href="~/Content/reward.css" rel="stylesheet" />
</head>
<body>
    <div class="container-reward-card" style="text-align: center;">
        <div style="width: 100px; height: 100px; background: red; border-radius: 50%; position: relative; left: 515px; margin-top: 22px;"></div>
        <header>
            Rewards earned: 94 points
            <!--     <span>Trace your order.</span> -->
        </header>
        <div class="in-container" >
            <!--    img here    -->
            <!--  x1 field -->
            <div class="row">
                <div class="col2">
                    <input type="text" name="city" placeholder="Name">
                    <span style="color: rebeccapurple; padding-left: 25px;">Change</span>
                </div>
            </div>
            <!--  x1 field -->
            <!--  x1 field -->
            <div class="row">
                <div class="col2">
                    <input type="text" name="city" placeholder="Phone Number">
                    <span style="color: rebeccapurple; padding-left: 25px;">Change</span>
                </div>
            </div>
            <!--  x1 field -->
            <!--  x1 field -->
            <div class="row">
                <div class="col2">
                    <input type="text" name="city" placeholder="Email Address">
                    <span style="color: rebeccapurple; padding-left: 25px;">Change</span>
                </div>
            </div>
            <!--  x1 field -->
            <!--  x1 field -->
            <div class="row">
                <div class="col2">
                    <input type="text" name="city" placeholder="Delivery address">
                    <span style="color: rebeccapurple; padding-left: 25px;">Change</span>
                </div>
            </div>
            <!--  x1 field -->




        </div>
    </div>
</body>
</html>