body {

    font-family: 'Open Sans', sans-serif;

}

.container-reward-card {
    

}

header {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 50px 0;
}

    header > span {
        display: block;
        font-size: 30px;
        font-weight: 400;
        
    }

.in-container {
    width: 100%;
    margin: 40px 300px;
    color: #f6f6f6;
}

/*h2 {
    font-weight: 400;
    color: #007bff;
    border-bottom: 1px solid #007bff;
    border-width: 2px;
    margin: 20px 50px;
    padding: 10px;
    text-align: center;
}*/

.row {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display: table;
}

.col2 {
    display: table;
    width: 47%;
    float: left;
}

    .col2:nth-child(2) {
        display: table;
        float: right;
    }

input {
    width: 100%;
    display: table-row-group;
    border-sizing: border-box;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background: transparent;
    color: #f6f6f6;
    font-size: 1rem;
}

    input:focus {
        outline: none !important;
        border-color: #EF5350;
    }


        input:focus + label {
            color: #EF5350;
        }